<component name="ArtifactManager">
  <artifact type="war" name="SpringBootTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringBootTest-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootTest:war exploded" />
    </root>
  </artifact>
</component>